<div class="wheel-of-destiny">
  <div class="wod-container">
    <div class="wod-messageOnTop">{{topMessage}}</div>
    <img src="{{imagePath}}" alt="{{tokenName}}">
    <div class="wod-messageOnBottom">{{tokenName}}</div>
  </div>
</div>
