<div class="divTableRow">
<p class="titulo">Custom Auto Select</p>
<div class="boxcheckpai">
   <form>
      <div class="form-group">
         <label style="text-align:left;">Custom Auto Select:</label>
         <select id="custom_autoselect" name="custom_autoselect" style="cursor: pointer;">
            <option value="all">All Tokens in the Scene</option>
            <option value="pcs">Only PCs</option>
            <option value="friendly">Only Friendly Tokens</option>
            <option value="hostile">Only Hostile Tokens</option>
         </select>
      </div>
   </form>
</div>
